<ion-view title="Calcule o tempo final de sua prova" id="page3" style="background-color:#5FA0DB;">
    <ion-content padding="true" class="has-header">
        <form id="calculeOTempoFinalDeSuaProva-form2" class="list">
            <label class="item item-select" id="calculeOTempoFinalDeSuaProva-select1" name="prova">
                <span class="input-label">Escolha sua prova</span>
                <select>
                    <option>70.3 (1900 / 90 / 21)</option>
                    <option>140.6 (3800 / 180 / 42)</option>
                    <option>Olímpico (1500 / 40 / 10)</option>
                    <option>Short ( 750 / 20 / 5)</option>
                </select>
            </label>
            <div class="spacer" style="width: 300px; height: 11px;"></div>
            <label class="item item-input" id="calculeOTempoFinalDeSuaProva-input2">
                <span class="input-label">Natação</span>
                <input type="time" placeholder="1:40">
            </label>
            <div class="spacer" style="width: 300px; height: 11px;"></div>
            <label class="item item-input" id="calculeOTempoFinalDeSuaProva-input3">
                <span class="input-label">Transição - T1</span>
                <input type="time" placeholder="2">
            </label>
            <div class="spacer" style="width: 300px; height: 11px;"></div>
            <label class="item item-input" id="calculeOTempoFinalDeSuaProva-input4">
                <span class="input-label">Bike</span>
                <input type="time" placeholder="1:40">
            </label>
            <div class="spacer" style="width: 300px; height: 11px;"></div>
            <label class="item item-input" id="calculeOTempoFinalDeSuaProva-input5">
                <span class="input-label">Transição - T2</span>
                <input type="time" placeholder="2">
            </label>
            <div class="spacer" style="width: 300px; height: 11px;"></div>
            <label class="item item-input" id="calculeOTempoFinalDeSuaProva-input6">
                <span class="input-label">Corrida</span>
                <input type="time" placeholder="1:40">
            </label>
        </form>
        <div id="calculeOTempoFinalDeSuaProva-markdown2" style="color:#000000;text-align:center;">
            <p>Resultado:</p>
        </div>
        <h1 id="calculeOTempoFinalDeSuaProva-heading3" style="color:#000000;text-align:center;">5:45:30</h1>
        <button id="calculeOTempoFinalDeSuaProva-button1" class="button button-positive  button-block">Salvar</button>
    </ion-content>
</ion-view>